<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ pageTitle }}</title>
</head>
<body>
	{{> header }}
		<p>My name is {{ screenUpper name }}</p>
		<p>I'm {{ age }} years old</p>
	{{> footer}}
</body>
</html>
